.header{
    width:100%;
    height:100px;
    background:rgb(155, 30, 30);
}

.header-logo{
    float:left;
    margin-left: 10%;
    color:white;
    margin-right:10px
    margin-top:30px;
}

.header ul{
    float:right;
    display:inline-flex;
    list-style:none;
    margin-top:40px;

}

.header a{
    color:white;
    padding-right:100px;
}

.main{
    background:rgb(206, 207, 117);
    height:120px;
    font-size:20px;
    float:left;
    width:100%;
    
}

.main-h{
    padding-left:20px;
    height:300px;
    background:rgb(206, 207, 117);
    width:100%;
}

.main-h p{
    float:left;
    width:40%;
}

.main-h img{
    float:right;
    height:200px;
    padding-right:200px;

}

.container{
    background:cornflowerblue;
    width:97.75%;
    height:200px;
    padding:15px;
}

.signup h3{
    text-align: center;
    font-size: 25px;
}

.sign-h input{
    margin-left:10px;
}

.container input{
    padding:5px;
    margin-right:10px;
    margin-top:10px;
}

.contents{
    background:rgb(112, 119, 126);
    float:left;
    width:97.75%;
    height:1750px;
    padding-left:30px;
}

.shop-h h3{
    text-align: center;
}

table{
    background:rgb(187, 154, 135);
    margin:0px auto;
    margin-top:40px;
}
table td{
    height:300px;
    width:300px;
    border:1px solid black
}

table td:nth-of-type(2){
    text-align: center;
}

table img{
    width:240px;
    height:240px;
    padding-left:30px;
}

table a{
    color:black;
}

.contact-form{
    background:olivedrab;
    padding-right:30px;
    margin-top:1750px;
    padding-top:20px;
    height:400px;
}

.contact{
    text-align: center;
}

.contact-h{
    width:60%;
    float:right;
}



.contact-form img{
    float:left;
}
